{% load to_gravatar_url %}
{% load insert_magic_links %}
{% load insert_code_blocks %}
<div class=dweet-wrapper>
  <div class=dweet >
    <div class=canvas-iframe-container-wrapper>
      <div class=canvas-iframe-container >
        <iframe class="dweetiframe"
                src="{% url 'fullscreen_dweet' dweet_id=dweet.id host 'dweet' %}?code={{ dweet.code|urlencode }}"
          sandbox="allow-same-origin allow-scripts" id="{{ dweet.id }}"></iframe>
      </div>
    </div>
    <div class=dweet-actions>
      <form class="like" data-csrf="{{ csrf_token }}" data-dweet_id="{{ dweet.id }}">
        <button type="submit" class="like-button{% if request.user in dweet.likes.all %} liked{% endif %}">
          <span class="score-text">{{ dweet.likes.count }}</span>
          <span class="like-text">Awesome!</span>
        </button>
      </form>

      <form class="report" data-csrf="{{ csrf_token }}" data-dweet_id="{{ dweet.id }}">
        <button type="submit" class="report-button">
          <div class="wrapper">
            <span class="far fa-flag"></span>
            <span class="text">report</span>
          </div>
        </button>
      </form>
    <button class="record-button" id="record-{{ dweet.id }}" data-dweet_id="{{ dweet.id }}" data-username="{{ dweet.author.username }}">
    <span class="record-text">record</span>
    <span class="record-icon"></span>
    </button>
      <a class="dweet-option show-stats" href="javascript:;" target="_blank">show FPS</a>
      <a class="dweet-option hide-stats" href="javascript:;" target="_blank">hide FPS</a>
      {% if embed %}
      <a class="dweet-option embed-dwitter-link"  href="{% url 'dweet_show' dweet_id=dweet.id %}" target="_blank">full version</a>
      {% endif %}
      <a class="dweet-option" href="{% url 'dweet_show' dweet_id=dweet.id %}" target="_blank" data-popover=".share-container">share</a>
      {% if dweet.dweet_set.count > 0 %}
      <a class="dweet-option remixes-button" href="" data-popover=".remixes-container">{{ dweet.dweet_set.count }} remix{% if dweet.dweet_set.count > 1 %}es{% endif %}</a>
      {% endif %}
      {% if request.user == dweet.author or request.user.is_staff %}
        <form class="dweet-delete-form" action="{% url 'dweet_delete' dweet_id=dweet.id %}" method="post"
          onsubmit="return confirm('Are you sure you want to delete the dweet (cannot be reversed)?');" >
          {% csrf_token %}
          <input
          class=delete-button
          type="submit"
          value="delete" />
        </form>
      {% endif %}
      <a class="dweet-option fullscreen-button" href="javascript:;" target="_blank">fullscreen</a>
      <div class="popover share-container">
        <ul>
          <li>
            <label>Permalink:</label>
            <input type=text readonly class=share-link value='{% url 'dweet_show' dweet_id=dweet.id %}'/>
          </li>
          <li>
            <label>Embed:</label>
            <input type=text readonly class=embed-src value='<iframe width=500 height=570 frameBorder="0" src="{% url 'dweet_embed' dweet_id=dweet.id %}" allowFullScreen="true"></iframe>'/>
          </li>
        </ul>
      </div>
      <div class="popover remixes-container">
        <ul>
          {% for remix in dweet.dweet_set.all %}
            <li>
              <a href="{% url 'dweet_show' dweet_id=remix.id %}">
                <span class="faded">d/</span>{{remix.id}}
              </a>
              by
              <a href="{% url 'user_feed' url_username=remix.author.username %}">
                <span class="faded">u/</span>{{ remix.author.username }}
                <div class="avatar" style="background-image: url({{ remix.author.email | to_gravatar_url }})"></div>
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class=author-remix-wrapper>
      <div class=dweet-author>
        <div class=avatar style="background-image: url({{ dweet.author.email | to_gravatar_url }})"></div>
        <a href="{% url 'user_feed' url_username=dweet.author.username %}">{{ dweet.author.username }}</a>
    </div>
      {% if dweet.reply_to %}
        {% include 'snippets/remix_info.html' %}
      {% endif %}
    </div>
    <br>
    <div class="dark-section">
        <code class="function-wrap">function u(t) {</code>
        <form action="{% url 'dweet_reply' dweet_id=dweet.id %}" method="post">
          {% csrf_token %}
          <div class=dweet-code>
            <textarea autocorrect="off" autocapitalize="off" spellcheck="false" name=code class=code-input rows=4 oninput="this.style.height='auto';this.style.height=this.scrollHeight+'px';">{{ dweet.code }}</textarea>
          </div>
          <p class="dweet-timestamp">
            <time datetime="{{ dweet.posted | date:"Y-m-d H:i" }}">
              {{ dweet.posted | date:"M j Y g:i A" }} UTC
            </time>
          </p>
          <code class="function-wrap">}// <div class=character-count>{{ dweet.dweet_length }}/140</div>
          </code>
      </br>
      <div class=error-display></div>
      <div class=dweet-changed>
            {% if not embed %}
            {% if request.user.is_authenticated %}
            <div class=post-dweet-div>
                <input type=text placeholder="Add a caption here..." name="first-comment" class="new-dweet-comment-input" />
                <input
                    class="remix-button"
                    type="submit"
                    value="Post as remix" />
        </div>
            {% else %}
              <br />
              <p>Please <a href="{% url 'auth_login' %}">log in</a> (or <a href="{% url 'register'  %}" >register</a>) to post as a new dweet (copy-paste code somewhere safe to save it meanwhile).</p>
            {% endif %}
            {% endif %}
          </div>
        </form>
    </div>
  </div>
  {% if not embed %}
  <div class=comment-section>
    {% if dweet.has_sticky_comment %}
    <ul class=sticky-comments>
      <li class="comment sticky-comment">
        <form class="report" data-csrf="{{ csrf_token }}" data-comment_id="{{ dweet.top_comment.id }}">
          <button type="submit" class="report-button">
            <div class="wrapper">
              <span class="far fa-flag"></span>
              <span class="text">report</span>
            </div>
          </button>
        </form>
        <span class="comment-message sticky-comment">{{ dweet.top_comment.text | force_escape | insert_code_blocks | urlizetrunc:45 | insert_magic_links }}</span>
      </li>
    </ul>
    {% endif %}
    <ul class=comments>
      {%if comments|length > 6 %}
          <li>
            <a href="#" class="show-more-comments">
              Show more comments…
            </a>
          </li>
      {% endif %}
      {% for comment in comments|dictsortreversed:"posted" reversed %}
      {% if comment != dweet.top_comment or not dweet.has_sticky_comment %}
      <li class="comment {% if comments|length > 6 and comments|length|add:"-4" > forloop.counter0 %} hidden {% endif %}">
      <a class=comment-name href="{% url 'user_feed' url_username=comment.author.username %}">
          <div class="avatar" style="background-image: url({{ comment.author.email | to_gravatar_url }})"></div>
          <div><span class="faded">u/</span>{{ comment.author.username }}</div>
      </a>
        <form class="report" data-csrf="{{ csrf_token }}" data-comment_id="{{ comment.id }}">
          <button type="submit" class="report-button">
            <div class="wrapper">
              <span class="far fa-flag"></span>
              <span class="text">report</span>
            </div>
          </button>
        </form>
        <span class="comment-message">{{ comment.text | force_escape | insert_code_blocks | urlizetrunc:45 | insert_magic_links }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <form class=new-comment data-csrf="{{ csrf_token }}" data-dweet_id="{{dweet.id}}">
      {% if request.user.is_authenticated %}
      <input type=text class=comment-input />
      <input type=submit value="Post comment" class=comment-submit />
      {% else %}
      <p>Please <a href="{% url 'auth_login' %}">log in</a> (or <a href="{% url 'register'  %}" >register</a>) to comment.</p>
      {%endif%}
    </form>
  </div>
  {% endif %}
</div>
