{% load subdomainurls %}
{% load to_gravatar_url %}
<div class=dweet-wrapper>
  <div class=dweet >
    <div class=canvas-iframe-container-wrapper>
      <div class=canvas-iframe-container >
        <iframe class="dweetiframe" src="{% url 'fullscreen_dweet' subdomain='dweet' dweet_id=dweet.id %}" sandbox="allow-same-origin allow-scripts"></iframe>
      </div>
    </div>
    <div class=dweet-actions>
      <form class="like" data-csrf="{{ csrf_token }}" data-dweet_id="{{ dweet.id }}">
        <button type="submit" class="like-button{% if request.user in dweet.likes.all %} liked{% endif %}">
          <span class="score-text">{{ dweet.likes.count }}</span>
          <span class="like-text">Awesome!</span>
        </button>
      </form>
        {% if request.user == dweet.author or request.user.is_staff %}
        <form class="dweet-delete-form" action="{% url 'dweet_delete' dweet_id=dweet.id %}" method="post"
          onsubmit="return confirm('Are you sure you want to delete the dweet (cannot be reversed)?');" >
          {% csrf_token %}
          <input
          class=delete-button
          type="submit"
          value="delete" />
        </form>
        {% endif %}
      <a class=fullscreen-button href="javascript:;" target="_blank">fullscreen</a>
      <a class=share-button href="javascript:;" target="_blank">share</a>
      <br />
      <input type=text readonly class=share-link value='{% url 'dweet_show' dweet_id=dweet.id %}'/>
    </div>
    <div class=author-remix-wrapper>
      <div class=dweet-author>
        <div class=avatar style="background-image: url({{ dweet.author.email | to_gravatar_url }})"></div>
        <a href="{% url 'user_feed' url_username=dweet.author.username %}">{{ dweet.author.username }}</a>
    </div>
      {% if dweet.reply_to %}
        {% include 'snippets/remix_info.html' %}
      {% endif %}
    </div>
    <br>
    <div class="dark-section">
        <code class="function-wrap">function u(t){</code>
        <form action="{% url 'dweet_reply' dweet_id=dweet.id %}" method="post">
          {% csrf_token %}
          <div class=dweet-code>
            <textarea autocorrect="off" autocapitalize="off" spellcheck="false" name=code class=code-input rows=4 oninput="this.style.height='auto';this.style.height=this.scrollHeight+'px';">{{ dweet.code }}</textarea>
          </div>
          <p class="dweet-timestamp">
            <time datetime="{{ dweet.posted | date:"Y-m-d H:i" }}">
              {{ dweet.posted | date:"M j Y g:i A" }} UTC
            </time>
          </p>
          <code class="function-wrap">} //<div class=character-count>{{ dweet.code | length }}/140</div></code>
          <div class=dweet-changed>
            {% if request.user.is_authenticated %}
            <input
                class="remix-button"
                type="submit"
                value="Post as remix" />
            {% else %}
            <p>Please <a href="{% url 'auth_login' %}">log in</a> (or <a href="{% url 'register'  %}" >register</a>) to post as a new dweet (copy-paste code somewhere safe to save it meanwhile).</p>
            {% endif %}
          </div>
        </form>
    </div>
  </div>
  <div class=comment-section>
    {% if dweet.comments.last.author == dweet.author %}
    <ul class=sticky-comments>
      <li class="comment sticky-comment">
        <a class="comment-name sticky-comment" href="{% url 'user_feed' url_username=dweet.comments.last.author.username %}">{{ dweet.comments.last.author.username }}:</a>
        <span class="comment-message sticky-comment">{{ dweet.comments.last.text }}</span>
      </li>
      </ul>
        {% endif %}
        <ul class=comments>
      {% if dweet.comments.count > 3 %}
      <li class=comment>
      <a href="javascript:;" class="load-comments-link"
                             data-dweet_id="{{ dweet.id }}"
                             {% if dweet.comments.last.author == dweet.author %}
                             data-sticky_top="1"
                             {% endif %}
                             data-offset=3>
        Load older comments...</a>
      </li>
      {% endif %}
      {% for comment in dweet.comments.all|slice:"3" reversed %}
      {% if comment != dweet.comments.last or dweet.comments.last.author != dweet.author  %}
      <li class=comment>
      <a class=comment-name href="{% url 'user_feed' url_username=comment.author.username %}">{{ comment.author.username }}:</a>
      <span class="comment-message">{{ comment.text | urlizetrunc:45 }}</span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
    <form class=new-comment data-csrf="{{ csrf_token }}" data-dweet_id="{{dweet.id}}">
      {% if request.user.is_authenticated %}
      <input type=text class=comment-input />
      <input type=submit value="Post comment" class=comment-submit />
      {% else %}
      <p>Please <a href="{% url 'auth_login' %}">log in</a> (or <a href="{% url 'register'  %}" >register</a>) to comment.</p>
      {%endif%}
    </form>
  </div>
</div>
