<div class="dweet submit-box">
  <div
    class=canvas-iframe-container-wrapper
    id="submit-preview">
    <div
      class=canvas-iframe-container
      id="iframe-container-submit">
      <iframe class="dweetiframe" id=preview-iframe
      src="{% url 'blank_dweet' host 'dweet' %}"
      sandbox="allow-scripts allow-same-origin"></iframe>
    </div>
  </div>
  <div class="dweet-actions">
    <a class="show-stats" href="javascript:;" target="_blank">show FPS</a>
    <a class="hide-stats visible" href="javascript:;" target="_blank">hide FPS</a>
  </div>
  <div class="dark-section">
    <code class="function-wrap">function u(t) {</code>
    <form action="{% url 'dweet' %}" method="post">
      {% csrf_token %}
      <div class=dweet-code>
        <textarea
          autocorrect="off" autocapitalize="off" spellcheck="false"
          name="code"
          class="code-input"
          rows="4"
          id="editor"
          oninput="this.style.height='auto';this.style.height=this.scrollHeight+'px';"
          >c.width=1920 // clear the canvas
for(i=0;i<9;i++)
x.fillRect(400+i*100+S(t)*300,400,50,200) // draw 50x200 rects</textarea>
      </div>
      <code class="function-wrap">} // <div class=character-count>122/140</div>
      </code>
      </br>
      <div class=error-display></div>
      <div class=dweet-changed>
      {% if request.user.is_authenticated %}
        <div class=post-dweet-div>
        <input type=text placeholder="Add a caption here..." name="first-comment" class="new-dweet-comment-input" />
        <input
          class=dweet-button
          type="submit"
          value="Post dweet!" />
        </div>
      {% else %}
        <br />
        <p>Please <a href="{% url 'auth_login'  %}" >log in</a> (or <a href="{% url 'register'  %}" >register</a>) to post a dweet (copy-paste the code somewhere safe to save it meanwhile) </p>
      {% endif %}
    </div>
    </form>
  </div>
  <br />
  <code class=submit-help>
    u(t) is called 60 times per second.
    t: Elapsed time in seconds.
    S: Shorthand for Math.sin.
    C: Shorthand for Math.cos.
    T: Shorthand for Math.tan.
    R: Function that generates rgba-strings, usage ex.: R(255, 255, 255, 0.5)
    c: A 1920x1080 canvas.
    x: A 2D context for that canvas.
  </code>
</div>
