{% load to_gravatar_url %}
<div class="remix-info">
  remix of
  {% if dweet.reply_to.deleted %}
    [deleted]
  {% else %}
  <a href="{% url 'dweet_show' dweet_id=dweet.reply_to.id %}"><span class="faded">d/</span>{{dweet.reply_to.id}}</a>
    by
    <a href="{% url 'user_feed' url_username=dweet.reply_to.author.username %}"><span class="faded">u/</span>{{ dweet.reply_to.author.username }}</a>
    <div class="avatar" style="background-image: url({{ dweet.reply_to.author.email | to_gravatar_url }})"></div>
  {% endif %}
</div>
