*.log
*.pot
*.pyc
dwitter/settings/local.py
dwitter/static/CACHE/*
dwitter/static/admin/*
dwitter/static/silk/*
dwitter/static/rest_framework/*
dwitter/static/debug_toolbar/*
*.db
.gitignore
.*.sw*
venv/*
backups/*
*.iml
backup*.json
node_modules
.idea
package-lock.json
newrelic.ini
.coverage
.DS_Store
.mypy_cache/
