boto==2.42
django-anymail==1.1
django-compressor==2.2
django-dbbackup==3.0.2
django-filter==1.1
django-registration-redux==1.8
django-storages-redux==1.3.2
git+https://github.com/parth-choudhary/django-subdomains.git@5aae7e8#egg=django-subdomains
django==1.11.6
djangorestframework==3.7.1
flake8==2.6.2
