DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'database.db',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# Make this unique, and don't share it with anybody.
# CHANGE THIS! THIS IS PUBLIC AS IT'S IN SOURCE CONTROL
SECRET_KEY = '=^e_t38stu=a=3xuys_r1an%38xwmq347u%q0l3cy!wnybzuj)'

BASE_URL = 'http://localhost:8000'
DEFAULT_HOST = 'empty'
PARENT_HOST = 'localhost:8000'
LOGIN_REDIRECT_URL = BASE_URL
LOGIN_URL = BASE_URL + '/accounts/login/'

SITE_ID = 1
