{% extends 'base.html' %}

{% block title %}
About | Dwitter
{% endblock %}

{% block head %}
{% load staticfiles %}
{% load compress %}

{% compress js %}
<script src="{% static "libs/jquery.min.js" %}"></script>
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
<script src="{% static "libs/moment-with-locales.min.js" %}"></script>
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!-- <script src="{% static 'js/submit-view.js' %}"></script> -->
{% endcompress %}
{% endblock %}

{% block top-nav %}
<ul class=top-sort-list>
  <li><a class="hot" href="{% url 'hot_feed' %}">hot</a></li>
  <li><a class="new" href="{% url 'new_feed' %}">new</a></li>
  <li><a class="top" href="{% url 'top_feed' %}">top</a></li>
  <li><a class="random" href="{% url 'random_feed' %}">random</a></li>
  <li><b><a class="about" href="{% url 'about' %}">about</a></b></li>
</ul>
{% endblock %}

{% block fullcontent %}

<div class="dweet-feed">
  {% include 'snippets/new_dweet_card.html' %}
</div>

<div class="content-div">

    <h2 class=header-title>About dwitter.net</h2>
    <p>
    <br />
    Dwitter.net is a challenge to see what awesomeness you can create when limited to only 140 characters of javascript and a canvas. Give it a go!

    <br />
    <br />

    It was created by <a href='u/lionleaf'>u/lionleaf</a> as a side project inspired by the concept of <a href='u/sigveseb'>u/sigveseb</a> at <a href='http://arkt.is/t/Yy53aWR0aD0yZTM7dCo9Mzt4LnRyYW5zbGF0ZSg5ODAsNDUwKTtmb3IoaT0wO2k8MzIyOyl4LmZpbGxTdHlsZT1SKGkpLHgucm90YXRlKCFpKkModC09LjAzKSshKGkrKyU0KSpTKHQpLzkrMS41NykseC5maWxsUmVjdCg1KmksNSppLDk5LDk5KQ=='>arkt.is/t</a> (<a href='https://github.com/sigvef/arktis-tweet-demo'>github</a>).

    Its first official launch was at the Demoparty 'Solskogen' in 2016 where it won <a href=http://www.pouet.net/prod.php?which=67794>the wild compo.</a>
    </p>
    <br />
    <p>
    The website itself is open source, and is being developed by a number of <a href='https://github.com/lionleaf/dwitter/graphs/contributors'>contributors</a>. We are happy to accept pull requests and issues on <a href="https://github.com/lionleaf/dwitter">github</a>.
    <br />
    Check out the <a href="https://github.com/lionleaf/dwitter/issues">issue tracker</a> for previous suggestions and discussions.
    <br />
    </p>

    <br />
    <p>
    Please join us in the <a href="https://discord.gg/emHe6cP">discord chat</a> to hang out, ask for coding help, or discuss anything :D If you don't know where to start and want to learn, this is the perfect place to start. See you there!
    </p>

    <br />

    <p>
    <b>Contact</b> <br/> <em>andreas.l.selvik@gmail.com</em> and <em>sigvefarstad@gmail.com</em> or <b>@lionleaf</b> and <b>@sigveseb</b> on <a href="https://discord.gg/emHe6cP">discord</a>
    </p>


</div>
{% endblock %}
