<html>
  <head>
    <title>{% block title %} Dwitter {% endblock %} </title>
    {% load staticfiles %}
    <link rel=stylesheet href='{% static "main.css" %}' >
    {% block head %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class=head-menu>
      <div class=head-account-info>
        {% if request.user.is_authenticated %}
        Logged in as {{ request.user.username }}. <a class=button href="{% url 'auth_logout' %}"> Log out </a>
        {% else %}
        <a href="{% url 'auth_login'  %}" > Login </a> 
        {% endif %}
      </div>
      <div class=header-center-div>
        <h2 class=header-title>{% block header_title %}{% endblock %}</h2>
        <br />
        {% block pagecontrol %} 
        <ul class=top-sort-list>
          <li><a class="hot" href="/hot">hot</a></li>
          <li><a class="top" href="/top">top</a></li>
          <li><a class="new" href="/new">new</a></li>
        </ul>
        {% endblock %}
      </div>
    </div>
    <div id=content>
      {% block content %}
      {% endblock %}
    </div>
  </body>
      {% block after_body %}
      {% endblock %}
  
</html>
