<html>
  <head>
    <title>{% block title %} Dwitter {% endblock %} </title>
    {% load staticfiles %}
    <link rel=stylesheet href='{% static "main.css" %}' >
    {% block head %}
    {% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <div class=head-menu>
      <div class=head-account-info>
        {% if request.user.is_authenticated %}
        Logged in as <a href="{% url 'user_feed' url_username=request.user.username %}">{{ request.user.username }}</a>. <a class=button href="{% url 'auth_logout' %}"> Log out </a>
        {% else %}
        <a href="{% url 'auth_login'  %}" > Login </a> 
        {% endif %}
      </div>
      <div class=header-center-div>
        <h2 class=header-title><a  href="{% url 'root' %}">{% block header_title %}Dwitter{% endblock %}</a></h2>
        <br />
        {% block top-nav %} 
        {% endblock %}
      </div>
    </div>
    <div id=content>
      {% block fullcontent %}
      <div class=content-div>
        {% block content %}
          {{ text }}
        {% endblock %}
      </div>
      {% endblock %}
    </div>
  </body>
      {% block after_body %}
      {% endblock %}
  
</html>
