{% extends 'base.html' %}

{% block meta_description %}
Dwitter is a social network for building and sharing visual javascript demos limited to 140 characters. See the impressive creations crammed into so few characters, and play around with your own code!
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{% load staticfiles %}
{% load compress %}
{% load cache %}

{% compress js %}
<script src="{% static "libs/jquery.min.js" %}"></script>
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
<script src="{% static "libs/moment-with-locales.min.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block body_class %}{{feed_name}}{% endblock %}


{% block header_title %}
  {% if feed_type == "user" %}
    | <a href="{% url 'user_feed' url_username=user.username %}">
        {{ user.username }} ({{total_awesome}})
    </a>
  {% endif %}
  {% if feed_type == "hashtag" %}
    |  <a href="{% url 'hashtag_feed' hashtag_name=hashtag %}">
    #{{ hashtag }}
    </a>
  {% endif %}
{% endblock %}

{% block top-nav %}
<ul class=top-sort-list>
  {%if feed_type == "all" %}
  <li><a class="hot" href="{% url 'hot_feed' %}">hot</a></li>
  <li><a class="new" href="{% url 'new_feed' %}">new</a></li>
  {% if "top" in feed_name %}
  <li style="padding:0"><a class="top" href="{% url 'top_feed_month' %}">top |</a></li>
  <li><a class="top">{{top_name}}</a>
    <ul class=collapsible>
        <li><a class="top-week" href="{% url 'top_feed_week' %}">week</a></li>
        <li><a class="top-month" href="{% url 'top_feed_month' %}">month</a></li>
        <li><a class="top-year" href="{% url 'top_feed_year' %}">year</a></li>
        <li><a class="top-all" href="{% url 'top_feed_all' %}">all time</a></li>
    </ul>
  </li>
  {% else %}
  <li><a class="top" href="{% url 'top_feed_month' %}">top</a></li>
  {% endif %}

  <li><a class="random" href="{% url 'random_feed' %}">random</a></li>
  <li><a class="about" href="{% url 'about' %}">about</a></li>

  {%elif feed_type == "user" %}
  <li><a class="hot" href="{% url 'hot_user_feed' url_username=user.username %}">hot</a></li>
  <li><a class="new" href="{% url 'user_feed' url_username=user.username %}">new</a></li>
  <li><a class="top" href="{% url 'top_user_feed' url_username=user.username %}">top</a></li>
  <li><a class="awesome" href="{% url 'user_liked' url_username=user.username %}">awesomed</a></li>

  {%elif feed_type == "hashtag" %}
  <li><a class="new" href="{% url 'hashtag_feed' hashtag_name=hashtag %}">new</a></li>
  <li><a class="top" href="{% url 'top_hashtag_feed' hashtag_name=hashtag %}">top</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block fullcontent %}

{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!--<script src="{% static 'js/submit-view.js' %}"></script> -->
{% endcompress %}


<div class=dweet-feed>

  {% if show_submit_box %}
  {% include 'snippets/new_dweet_card.html' %}
  {% endif %}

    <div class="card">Theme challenge of the month: <a href="/h/candy">#candy</a>
    </div>

  {% if request.user.is_authenticated %}
    {% for dweet in dweets %}
      {% with comments=dweet.comments.all %}
        {% include 'snippets/dweet_card.html' %}
      {% endwith %}
    {% endfor %}
  {% else %}
    {% for dweet in dweets %}
      {% cache 60 dweetcard dweet.pk %}
      {% with comments=dweet.comments.all %}
        {% include 'snippets/dweet_card.html' %}
      {% endwith %}
      {% endcache %}
    {% endfor %}
  {% endif %}

  {% if page_obj.has_next %}
    <div class="loading">Loading...</div>
    <a class=next-page href="?page={{ page_obj.next_page_number }}">Next page</a>
  {% else %}
    <div class="end-of-feed">You've reached the end.</div>
  {% endif %}

</div>

{% endblock %}
