{% extends 'base.html' %}
{% load to_gravatar_url %}

{% block title %}
User settings - Dwitter
{% endblock %}
{% block content %}

<div class=center-settings>
<div
    class="avatar avatar-large"
    style="background-image: url({{ request.user.email | to_gravatar_url }})"
    >
</div>
<p>
<em>
Your avatar is automatically fetched from your email address.
Change your avatar on <a href="https://gravatar.com">Gravatar</a>.
</em>
</p>
</div>


<form class="accounts" method=POST action="">
    {% csrf_token %}
    {{ settings_form.as_p }}
    <input type=submit name=submit value=Save />
</form>

{% endblock %}
