<!DOCTYPE html>
<head>
  <style>
    * {padding:0;margin:0;border:0;outline:0;overflow:hidden}
    canvas {
      width: 100%;
      background: white;
      }
    .error-display {
      color: red;
      font-size: small;
      position: absolute;
      font-family: sans-serif;
      top: 1em;
      left: 1em;
    }
    </style>
    <script>
      var autoplay = getURLParameter('autoplay');
      var playing = !!autoplay;
      function receiveMessage(event){
        var origin = event.origin || event.originalEvent.origin;
        console.log("Received message from " + origin);
        if(origin !== "http://dwitter.localhost:8000"
          && origin !== "http://localhost:8000"
          && origin !== "https://localhost:8000"
          && origin !== "https://www.dwitter.net"
          && origin !== "https://dwitter.net"){
            return;
          }
        console.log("Message was: " + event.data);

        switch (event.data) {
          case "toggle":
            playing ? pauseDemo() : playDemo();
            break;
          case "play":
            playDemo();
            break;
          case "pause":
            pauseDemo();
            break;
          case "showStats":
            setStatsVisibility(true);
            break;
          case "hideStats":
            setStatsVisibility(false);
            break;
        }

        if(event.data.substring(0, 4) == "code"){
          var code = event.data.substring(5,event.data.length);
          newCode(code);
        }
      }

      function displayError(e) {
        document.querySelector(".error-display").innerHTML = e;
      }

      function newCode(code) {
          try {
            eval("u = function(t){"+code+"\n};")
          } catch (e) {
            u = function(t){
              throw e;
            };
            throw e;
          }
          displayError("");
          reset();
      }

      function pauseDemo(){
        if(!playing){
          return;
        }

        pauseTime = +new Date();

        playing = false;
      }

      function playDemo(){
        if(playing){
          return
        }

        playing = true;
        requestAnimationFrame(loop);
      }
      var timeOffset = 0;

      window.addEventListener("message", receiveMessage, false);

      function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
      }

      function setStatsVisibility(visible) {
        document.getElementById('stats').style.visibility = visible ? 'visible' : 'hidden';
      }
    </script>
    {% load compress %}
    {% load staticfiles %}
    {% compress js %}
    <script src="{% static "libs/stats.min.js" %}"></script>
    {% endcompress %}
  </head>
<body>
  <canvas id=c></canvas>
  <div class=error-display></div>
  <script>
    function createStats() {
      var stats = new Stats();
      stats.showPanel(0);
      stats.dom.setAttribute('id', 'stats');
      document.body.appendChild(stats.dom);
      return stats;
    }

    var stats = createStats();
    setStatsVisibility({{ newDweet }});

    var c = document.querySelector("#c");
    c.width = 1920;
    c.height = 1080;
    var S = Math.sin;
    var C = Math.cos;
    var T = Math.tan;
    var A = Math.abs;
    var G = Math.sign;
    var Q = Math.sqrt;
    var D = function(scale) {
      scale = scale === undefined ? 1 : scale;
      return Math.random() * scale;
    };
    var B = function(x,y,w,h) {
        x.fillRect(x,y,w,h)
    };
    var P = function(x,y) {
        x.fillRect(x,y,1,1)
    };
    var F = function(s) {
        x.fillStyle = s
    };
    var R = function(r,g,b,a) {
      a = a === undefined ? 1 : a;
      return "rgba("+(r|0)+","+(g|0)+","+(b|0)+","+a+")";
    };
    var x = c.getContext("2d");
    var time = 0;
    var frame = 0;
    function u(t) {
       {{ code | safe }}
      }
    function loop() {
      stats = stats || createStats();

      if (playing){
        requestAnimationFrame(loop);
      }
      time = frame/60;
      if(time * 60 | 0 == frame - 1){
        time += 0.000001;
      }
      frame++;

      try {
        stats.begin();
        u(time);
        stats.end();
        displayError("");
      } catch (e) {
        displayError(e);
        throw e;
      }
    }
    if(autoplay) {
        loop();
    }

    function reset(){
      c = document.querySelector("#c");
      c.width = 1920;
      c.height = 1080;
      S = Math.sin;
      C = Math.cos;
      T = Math.tan;
      A = Math.abs;
      G = Math.sign;
      Q = Math.sqrt;
      D = function(scale) {
        scale = scale === undefined ? 1 : scale;
        return Math.random() * scale;
      };
      B = function(x,y,w,h) {
        x.fillRect(x,y,w,h)
      };
      P = function(x,y) {
        x.fillRect(x,y,1,1)
      };
      F = function(s) {
        x.fillStyle = s
      };
      R = function(r,g,b,a) {
        a = a === undefined ? 1 : a;
        return "rgba("+(r|0)+","+(g|0)+","+(b|0)+","+a+")";
      };
      x = c.getContext("2d");
      time = 0;
      frame = 0;
    }
    </script>

</body>
