<!DOCTYPE html>
<head>
  <style>
    * {padding:0;margin:0;border:0;outline:0;overflow:hidden}
    canvas {
      width: 100%;
      background: white;
      }
    .error-display {
      color: red;
      font-size: small;
      position: absolute;
      font-family: sans-serif;
      top: 1em;
      left: 1em;
    }
    </style>
    <script>
      var autoplay = getURLParameter('autoplay');
      var playing = !!autoplay;
      function receiveMessage(event){
        var origin = event.origin || event.originalEvent.origin;
        console.log("Received message from " + origin);
        if(origin !== "http://dwitter.localhost:8000"
          && origin !== "http://localhost:8000"
          && origin !== "https://localhost:8000"
          && origin !== "https://www.dwitter.net"
          && origin !== "https://dwitter.net"){
            return;
          }
        console.log("Message was: " + event.data);

        if(event.data == "toggle"){
          if(playing){
            pauseDemo();
          }else{
            playDemo();
          }
        }
        if(event.data == "play"){
          playDemo();
        }
        if(event.data == "pause"){
          pauseDemo();
        }

        if(event.data.substring(0, 4) == "code"){
          var code = event.data.substring(5,event.data.length);
          newCode(code);
        }
      }

      function displayError(e) {
        document.querySelector(".error-display").innerHTML = e;
      }

      function newCode(code) {
          try {
            eval("u = function(t){"+code+"\n};")
          } catch (e) {
            displayError(e);
            u = function(t){}; // prevent loop() from calling displayError
            throw e;
          }
          displayError("");
          reset();
      }

      function pauseDemo(){
        if(!playing){
          return;
        }

        pauseTime = +new Date();

        playing = false;
      }

      function playDemo(){
        if(playing){
          return
        }

        playing = true;
        requestAnimationFrame(loop);
      }
      var timeOffset = 0;

      window.addEventListener("message", receiveMessage, false);

      function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
      }
    </script>
  </head>
<body>
  <canvas id=c></canvas>
  <div class=error-display></div>
  <script>
    var c = document.querySelector("#c");
    c.width = 1920;
    c.height = 1080;
    var S = Math.sin;
    var C = Math.cos;
    var T = Math.tan;
    var R = function(r,g,b,a) {
      a = a === undefined ? 1 : a;
      return "rgba("+(r|0)+","+(g|0)+","+(b|0)+","+a+")";
      };
    var x = c.getContext("2d");
    var time = 0;
    var frame = 0;
    function u(t) {
       {{ code | safe }}
      }
    function loop() {
      if (playing){
        requestAnimationFrame(loop);
      }
      time = frame/60;
      if(time * 60 | 0 == frame - 1){
        time += 0.000001;
      }
      frame++;

      try {
        u(time);
      } catch (e) {
        displayError(e);
        throw e;
      }
    }
    if(autoplay) {
        loop();
    }

    function reset(){
      c = document.querySelector("#c");
      c.width = 1920;
      c.height = 1080;
      S = Math.sin;
      C = Math.cos;
      T = Math.tan;
      R = function(r,g,b,a) {
        a = a === undefined ? 1 : a;
        return "rgba("+(r|0)+","+(g|0)+","+(b|0)+","+a+")";
      };
      x = c.getContext("2d");
      time = 0;
      frame = 0;
    }
    </script>

</body>

