<!DOCTYPE html>
<head>
  <style>
      * {
        padding:0;
        margin:0;
        border:0;
        outline:0;
        overflow:hidden;
      }
      canvas {
        width: 100%;
        background: white;
      }
    </style>
    <script>
      var autoplay = getURLParameter('autoplay');
      const src = getURLParameter('code');
      var lastError = "";
      var playing = !!autoplay;
      var FPS = 60;
      var pauseTime = null;
      
      var recording = false;
      var rendering = false;
      var encoder;
      var gifCanvas = document.createElement("canvas");
      var gifctx;
      var dweetId;
      var username;
      var minGIFWidth = 640;

      var browserGlobals = null;

      function receiveMessage(event){
        var origin = event.origin || event.originalEvent.origin;
        console.log("Received message from " + origin);
        if(origin !== "http://dwitter.localhost:8000"
          && origin !== "http://localhost:8000"
          && origin !== "http://www.localhost:8000"
          && origin !== "https://localhost:8000"
          && origin !== "https://www.dwitter.net"
          && origin !== "https://dwitter.net"){
            return;
          }
        console.log("Message was: " + event.data);

        switch (event.data) {
          case "toggle":
            playing ? pauseDemo() : playDemo();
            break;
          case "play":
            playDemo();
            break;
          case "pause":
            pauseDemo();
            break;
          case "showStats":
            setStatsVisibility(true);
            break;
          case "hideStats":
            setStatsVisibility(false);
            break;
          case "stopGifRecord":
            if (recording) {
              recording = false;
              rendering = true;
              encoder.render();
              encoder.on("finished", function (blob) {
                let a = document.createElement("a");
                document.body.appendChild(a);
                a.style.display = "none";
                a.href = URL.createObjectURL(blob);
                a.download = "dweet.gif";
                a.click();
                document.body.removeChild(a);
                URL.revokeObjectURL(a.href);
                window.top.postMessage({ msg: "finished", dweetId: dweetId }, "*");
                rendering = false;
              });
              time = 0;
              frame = 0;
            }
            break;
          case "abortGifProcessing":
            if (rendering) {
              encoder.abort();
            }
            break;
        }

        if (event.data.msg == "startGifRecord") {
          if (!recording) {
            dweetId = event.data.dweetId;
            username = event.data.username;
            
            recording = true;
            var workerCount = 4;
            var width = Math.max(c.width, minGIFWidth);
            if (typeof navigator.hardwareConcurrency !== "undefined")
              workerCount = navigator.hardwareConcurrency;
            encoder = new GIF({
              workers: workerCount,
              quality: 5,
              workerScript: "/static/libs/gif.worker.js",
              width: width,
              height: width / 16 * 9,
              background: ""
            });
            gifCanvas.width = width;
            gifCanvas.height = width / 16 * 9;
            gifctx = gifCanvas.getContext("2d");
            time = 0;
            frame = 0;
          }
        } else if (event.data.substring(0, 4) == "code"){
          var code = event.data.substring(5,event.data.length);
          newCode(code);
        }
      }

      function displayError(e) {
        if(lastError != e){
          lastError = e;
          parent.postMessage({
            'type': 'error',
            'error': ""+e,
            'location': window.location.href
          },"*");
        }
      }

      function newCode(code) {
          window.stopper.reset();
          try {
            // Using new Function(), if the code reassigns `u`, it will reassign the global, breaking the dweet
            //var u = new Function("t", instrument(code));
            // Using eval(), if the code reassigns `u`, it will reassign the local, leaving `window.u` working
            eval("function u(t) {\n"+instrument(code)+"\n}");
            window.u = u;
          } catch (e) {
            window.u = function(t) {
              throw e;
            };
            throw e;
          }
          displayError("");
          reset();
      }

      function pauseDemo(){
        if(!playing){
          return;
        }

        pauseTime = +new Date();

        playing = false;
      }

      function playDemo(){
        if(playing){
          return;
        }

        playing = true;
        requestAnimationFrame(loop);
      }
      var timeOffset = 0;

      addEventListener("message", receiveMessage, false);

      function getURLParameter(name) {
        return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search)||[,""])[1].replace(/\+/g, '%20'))||null
      }

      function setStatsVisibility(visible) {
        document.getElementById('stats').style.visibility = visible ? 'visible' : 'hidden';
      }
    </script>
    {% load compress %}
    {% load staticfiles %}
    {% compress js %}
    <script src="{% static "libs/stats.min.js" %}"></script>
    <script src="{% static "libs/gif.js" %}"></script>
    <script src="{% static "libs/loopbuster.js" %}"></script>
    <script src="{% static "libs/loopstopper.js" %}"></script>
    {% endcompress %}
  </head>
<body>
  <canvas id=c></canvas>
  <script>
    function createStats() {
      var stats = new Stats();
      stats.showPanel(0);
      stats.dom.setAttribute('id', 'stats');
      document.body.appendChild(stats.dom);
      return stats;
    }

    var stats = createStats();
    setStatsVisibility({{ newDweet }});

    var c = document.querySelector("#c");
        
    c.width = 1920;
    c.height = 1080;
    var x = c.getContext("2d");
    
    setupPolyfills(x);
    
    var S = Math.sin;
    var C = Math.cos;
    var T = Math.tan;
    function R(r,g,b,a) {
      a = a === undefined ? 1 : a;
      return "rgba("+(r|0)+","+(g|0)+","+(b|0)+","+a+")";
    }
  
    var time = 0;
    var frame = 0;
    var nextFrameMs = 0;

    newCode(src);

    function loop(frame_time) {
      stats = stats || createStats();

      if (playing){
        requestAnimationFrame(loop);
        epsilon = 1.5; // Acounts for different timestamp resolution and slight jitter
        if (frame_time < nextFrameMs - epsilon) {
          return;  // Skip this cycle as we are animating too quickly.
        }
        nextFrameMs = Math.max(nextFrameMs + 1000 / FPS, frame_time);
      }
      time = frame/FPS;
      if(time * FPS | 0 == frame - 1){
        time += 0.000001;
      }
      frame++;

      try {
        stats.begin();
        if (window.navigator.userAgent.indexOf("Edge") > -1 && (u + "").match(/c\s*\.\s*(width|height)\s*(=|\+=|-=|\*=|\/=|%=|\**=|<<=|>>=|>>>=|&=|\^=|\|=)/) != null) {
            x.beginPath();
            x.resetTransform();
            x.clearRect(0, 0, c.width, c.height);
        }
        u(time);
        
        if (recording && frame % 2 == 0) {
          gifctx.fillStyle = "white";
          gifctx.fillRect(0, 0, gifCanvas.width, gifCanvas.height);
          
          gifctx.drawImage(c, 0, 0, gifCanvas.width, gifCanvas.width / c.width * c.height);
          
          gifctx.font = "20px sans-serif";
          
          gifctx.strokeStyle = "white";
          gifctx.fillStyle = "black";
          gifctx.miterLimit = 2;
          gifctx.lineJoin = 'circle';
          
          gifctx.lineWidth = 3;
          gifctx.strokeText("dwitter.net/d/" + dweetId, 3, gifCanvas.height - 16);
          gifctx.lineWidth = 1;
          gifctx.fillText("dwitter.net/d/" + dweetId, 3, gifCanvas.height - 16);
          
          var usernameWidth = gifctx.measureText("u/" + username).width;
          
          gifctx.lineWidth = 3;
          gifctx.strokeText("u/" + username, gifCanvas.width - usernameWidth - 3, gifCanvas.height - 16);
          gifctx.lineWidth = 1;
          gifctx.fillText("u/" + username,  gifCanvas.width - usernameWidth - 3, gifCanvas.height - 16);
          
          encoder.addFrame(gifctx, { copy: true, delay: 1000 / 30 });
        }
        stats.end();
        displayError("");
      } catch (e) {
        stats.end();
        displayError(e);
        throw e;
      }
    }
    if(autoplay) {
        loop(0.0);
    }

    function reset(){
      if (browserGlobals) {
        Object.keys(window).forEach(key => {
          if (!browserGlobals[key]) {
            console.log("Removing new global: " + key);
            delete window[key];
          }
        });
      }

      c = document.querySelector("#c");
      c.width = 1920;
      c.height = 1080;
      S = Math.sin;
      C = Math.cos;
      T = Math.tan;
      R = function(r,g,b,a) {
        a = a === undefined ? 1 : a;
        return "rgba("+(r|0)+","+(g|0)+","+(b|0)+","+a+")";
      };
      x = c.getContext("2d");
      
      setupPolyfills(x);
      
      time = 0;
      frame = 0;
    }
    
    function setupPolyfills(x) {
      
      if (typeof x.resetTransform === "undefined") {
        x.resetTransform = function() {
          this.setTransform(1, 0, 0, 1, 0, 0);
        };
      }
      
      if (typeof x.ellipse === "undefined") {
        x.ellipse = function(x, y, rx, ry, rotation, startAngle, endAngle, antiClockwise) {
          this.save();
          this.translate(x, y);
          this.rotate(rotation);
          this.scale(rx, ry);
          this.arc(0, 0, 1, startAngle, endAngle, antiClockwise);
          this.restore();
        };
      }
      
      // Internet Explorer Math stuff
      // Mostly from https://www.developer.mozilla.org
      let polyfills = {
        cosh: function(v) {
          return (Math.pow(Math.E, v) + Math.pow(Math.E, -v)) / 2;
        },
        acosh: function(v) {
          return Math.log(v + Math.sqrt(v * v - 1));
        },
        asinh: function(x) {
          if (x === -Infinity) {
            return x;
          } else {
            return Math.log(x + Math.sqrt(x * x + 1));
          }
        },
        atanh: function(x) {
          return Math.log((1+x)/(1-x)) / 2;
        },
        cbrt: function(x) {
          var y = Math.pow(Math.abs(x), 1/3);
          return x < 0 ? -y : y;
        },
        clz32: function(x) {
          if (x == null || x === 0) {
            return 32;
          }
          return 31 - Math.floor(Math.log(x >>> 0) * Math.LOG2E);
        },
        expm1: function(x) {
          return Math.exp(x) - 1;
        },
        fround: (function (array) {
          return function(x) {
            return array[0] = x, array[0];
          };
        })(new Float32Array(1)),
        hypot: function() {
          var y = 0, i = arguments.length;
          while (i--) y += arguments[i] * arguments[i];
          return Math.sqrt(y);
        },
        imul: function(a, b) {
          var aHi = (a >>> 16) & 0xffff;
          var aLo = a & 0xffff;
          var bHi = (b >>> 16) & 0xffff;
          var bLo = b & 0xffff;
          return ((aLo * bLo) + (((aHi * bLo + aLo * bHi) << 16) >>> 0) | 0);
        },
        log1p: function(x) {
          return Math.log(1 + x);
        },
        log2: function(x) {
          return Math.log(x) * Math.LOG2E;
        },
        log10: function(x) {
          return Math.log(x) * Math.LOG10E;
        },
        sign: function(x) {
          return ((x > 0) - (x < 0)) || +x;
        },
        sinh: function(x) {
          return (Math.exp(x) - Math.exp(-x)) / 2;
        },
        tanh: function(x){
            var a = Math.exp(+x), b = Math.exp(-x);
            return a == Infinity ? 1 : b == Infinity ? -1 : (a - b) / (a + b);
        },
        trunc: function(v) {
      		v = +v;
      		if (!isFinite(v)) return v;
      		
      		return (v - v % 1)   ||   (v < 0 ? -0 : v === 0 ? v : 0);
      	}
      };
      for (var key in polyfills) {
        if (polyfills.hasOwnProperty(key)) {
          if (typeof Math[key] === "undefined") {
            Math[key] = polyfills[key];
          }
        }
      }
    }

    // Remember the default globals so that later we can remove any that
    // were created by the dweet
    browserGlobals = {};
    Object.keys(window).forEach(key => {
      browserGlobals[key] = true;
    });
  </script>

</body>
