{% extends 'base.html' %}
{% load subdomainurls %}

{% block head %}
{% load staticfiles %}
<script src="{% static "libs/jquery.min.js" %}"></script>
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
{% endblock %}

{% block body_class %}{{sort}}{% endblock %}


{% block header_title %} 
{{ header_title }}
{% endblock %}

{% block top-nav %}
<ul class=top-sort-list>
  {%if feed_type == "all" %}
  <li><a class="new" href="{% url 'new_feed' %}">new</a></li>
  <li><a class="top" href="{% url 'top_feed' %}">top</a></li>
  {%elif feed_type == "user" %}
  <li><a class="new" href="{% url 'user_sort_feed' sort='new' url_username=feed_user %}">new</a></li>
  <li><a class="top" href="{% url 'user_sort_feed' sort='top' url_username=feed_user %}">top</a></li>
  {% endif %}
</ul>
{% endblock %}



{% block fullcontent %}

{% load staticfiles %}
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/editor-preview.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!--<script src="{% static 'js/submit-view.js' %}"></script> -->



<div class=dweet-feed>
  <div class=submit-box>
    <div class=canvas-iframe-container-wrapper
      id="submit-preview">
      <div class=canvas-iframe-container 
        id="iframe-container-submit">
            <iframe class="dweetiframe" id=preview-iframe src="{% url 'blank_dweet' subdomain='dweet' %}" sandbox="allow-scripts"></iframe>
      </div>
    </div>
    <div id=click-the-code>
      <b>Edit the code to start the fun, or browse through other peoples demos below</b>
      Code available at <a href="http://github.com/lionleaf/dwitter"> github.com/lionleaf/dwitter</a> Issues are welcomed! :D
    </div>
    <code>
      function u(t){
    </code>
    <form action="{% url 'dweet' %}" method="post">
      {% csrf_token %}
      <div class=dweet-code>
        <textarea
          autocorrect="off" autocapitalize="off" spellcheck="false"
          name=code
          class=code-input
          id=editor
          maxlength=140
          rows=3
          >c.width=1920;for(i=0;i&lt;9;i++){x.fillRect(400+i*100+S(t)*300,400,50,200)}</textarea>
        <div class=character-count>72/140</div>
      </div>
      <code>
        }
      </code>
      <br />
        {% if request.user.is_authenticated %}
            <input  
            class=dweet-button
            type="submit" 
            value="Dweet!" />
            {% else %}
            <p> Please <a href="{% url 'auth_login'  %}" >log in</a> (or <a href="{% url 'register'  %}" >register</a>) to post a dweet (copy-paste the code somewhere safe to save it meanwhile) </p>
            {% endif %}
    </form>
    <br />
    <code id=submit-help>
      u(t) is called 60 times per second.
      t: Elapsed time in seconds.
      S: Shorthand for Math.sin.
      C: Shorthand for Math.cos.
      T: Shorthand for Math.tan.
      R: Function that generates rgba-strings, usage ex.: R(255, 255, 255, 0.5)
      c: A 1920x1080 canvas.
      x: A 2D context for that canvas. 
    </code>
  </div>


      {% for dweet in dweet_list %}
      <div class=dweet-wrapper>
      <div class=dweet >
        <div class=canvas-iframe-container-wrapper>
          <div class=canvas-iframe-container >
            <iframe class="dweetiframe" src="{% url 'fullscreen_dweet' subdomain='dweet' dweet_id=dweet.id %}" sandbox="allow-same-origin allow-scripts"></iframe>
          </div>
        </div>
        <div class=dweet-actions>
          <a href="javascript:;" class="like-button{% if request.user in dweet.likes.all %} liked{% endif %}" data-dweet_id="{{ dweet.id }}">
            <span class=score-text>{{ dweet.likes.count }}</span>
            <span class=like-text>Awesome!</span>
          </a>
          <a class=arktis-link id=arktis-link-{{dweet.id}} href="{% url 'fullscreen_dweet' subdomain='dweet' dweet_id=dweet.id %}?autoplay=1" target="_blank">fullscreen</a>
        </div>
        <div class=dweet-author>
          <a href="{% url 'user_feed' url_username=dweet.author.username %}">{{ dweet.author.username }}</a>
        </div>
        <code>
          function u(t){
        </code>
        <form action="{% url 'dweet_reply' dweet_id=dweet.id %}" method="post">
          {% csrf_token %}
          <div class=dweet-code>
            <textarea autocorrect="off" autocapitalize="off" spellcheck="false" name=code class=code-input maxlength=140 rows=3>{{ dweet.code }}</textarea>
            <div class=character-count>{{ dweet.code | length }}/140</div>
          </div>
          <code>
            }
          </code>
          <div class=dweet-changed>
        {% if request.user.is_authenticated %}
            <input
            class=dweet-button
            type="submit"
            value="Post as new dweet!" />
            {% else %}
            <p>Please <a href="{% url 'auth_login' %}">log in</a> (or <a href="{% url 'register'  %}" >register</a>) to post as a new dweet (copy-paste code somewhere safe to save it meanwhile).</p>
            {% endif %}
          </div>
        </form>
        {% if request.user.is_authenticated %}
        {% if request.user == dweet.author or request.user.is_staff %}
        <form action="{% url 'dweet_delete' dweet_id=dweet.id %}" method="post"
              onsubmit="return confirm('Are you sure you want to delete the dweet (cannot be reversed)?');" >
          {% csrf_token %}
          <input
          class=delete-button
          type="submit"
          value="Delete dweet" />
        </form>
        {% endif %}
        {% endif %}
      </div>
      <div class=comment-section>
        <ul class=comments>
          {% if dweet.comments.count > 3 %}
          <li class=comment>
            <a href="javascript:;" class="load-comments-link" data-dweet_id="{{ dweet.id }}"
              data-offset=3>Load older comments...</a>
          </li>
          {% endif %}
          {% for comment in dweet.comments.all|slice:"3" reversed %}
          <li class=comment>
            <a class=comment-name href="{% url 'user_feed' url_username=comment.author.username %}">{{ comment.author.username }}:</a>
            <span class="comment-message">{{ comment.text }}</span>
          </li>
          {% endfor %}
        </ul>
        <form class=new-comment data-csrf="{{ csrf_token }}" data-dweet_id="{{dweet.id}}">
          {% if request.user.is_authenticated %}
          <input type=text class=comment-input />
          <input type=submit value="Post comment" class=comment-submit />
          {% else %}
          <p>Please <a href="{% url 'auth_login' %}">log in</a> (or <a href="{% url 'register'  %}" >register</a>) to comment.</p>
          {%endif%}
        </form>
      </div>
    </div>
      {% endfor %}

      <a class=next-page href="{{ next_url }}">Next page</a>
    </div>
    {% endblock %}
