{% extends 'base.html' %}
{% load subdomainurls %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% load staticfiles %}
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
{% endblock %}

{% block body_class %}{{sort}}{% endblock %}


{% block header_title %} 
{{ header_title }}
{% endblock %}

{% block top-nav %}
<ul class=top-sort-list>
  <li><a class="new" href="/new">new</a></li>
  <li><a class="top" href="/top">top</a></li>
  <!--<li><a class="hot" href="/hot">hot</a></li> -->
</ul>
{% endblock %}



{% block fullcontent %}

{% load staticfiles %}
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/editor-preview.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!--<script src="{% static 'js/submit-view.js' %}"></script> -->



<div class=dweet-feed>
  <div class=submit-box>
    <div class=canvas-iframe-container-wrapper
      id="submit-preview">
      <div class=canvas-iframe-container 
        id="iframe-container-submit">
            <iframe class="dweetiframe" id=preview-iframe src="{% url 'blank_dweet' subdomain='dweet' %}"></iframe>
      </div>
    </div>
    <div id=click-the-code>
      <b>Edit the code to start the fun, or browse through other peoples demos below</b>
      Code available at <a href="http://github.com/lionleaf/dwitter"> github.com/lionleaf/dwitter</a> Issues are welcomed! :D
    </div>
    <code>
      function u(t){
    </code>
    <form action="{% url 'dweet' %}" method="post">
      {% csrf_token %}
      <div class=dweet-code>
        <textarea
          name=code
          class=code-input
          id=editor
          maxlength=140
          rows=2
          >c.width=1920;x.fillRect(800+S(t)*300,400,200,200)</textarea>
        <div class=character-count>130/140</div>
      </div>
      <code>
        }
      </code>
      <br />
        {% if request.user.is_authenticated %}
            <input  
            class=dweet-button
            type="submit" 
            value="Dweet!" />
            {% else %}
            <p> Please <a href="{% url 'auth_login'  %}" >log in</a> to post a dweet (copy-paste the code somewhere safe to save it meanwhile) </p>
            {% endif %}
    </form>
    <br />
    <code id=submit-help>
      u(t) is called 60 times per second.
      t: Elapsed time in seconds.
      S: Shorthand for Math.sin.
      C: Shorthand for Math.cos.
      T: Shorthand for Math.tan.
      R: Function that generates rgba-strings, usage ex.: R(255, 255, 255, 0.5)
      c: A 1920x1080 canvas.
      x: A 2D context for that canvas. 
    </code>
  </div>


      {% for dweet in dweet_list %}
      <div class=dweet >
        <div class=canvas-iframe-container-wrapper>
          <div class=canvas-iframe-container >
            <iframe class="dweetiframe" src="{% url 'fullscreen_dweet' subdomain='dweet' dweet_id=dweet.id %}"></iframe>
          </div>
        </div>
        <div class=dweet-actions>
          <div class="like-button-div" id="like-button-{{ dweet.id }}" data-dweet_id="{{ dweet.id }}">
            {% include "feed/like-html-snippet.html" %}
          </div>
          <a class=arktis-link id=arktis-link-{{dweet.id}} href="{% url 'fullscreen_dweet' subdomain='dweet' dweet_id=dweet.id %}?autoplay=1" >fullscreen</a>
        </div>
        <div class=dweet-author>
          <a href="{% url 'user_feed' url_username=dweet.author.username %}">{{ dweet.author.username }}</a>
        </div>
        <code>
          function u(t){
        </code>
        <form action="{% url 'dweet_reply' dweet_id=dweet.id %}" method="post">
          {% csrf_token %}
          <div class=dweet-code>
            <textarea name=code class=code-input maxlength=140 rows=3>{{ dweet.code }}</textarea>
            <div class=character-count>{{ dweet.code | length }}/140</div>
          </div>
          <code>
            }
          </code>
          {% if request.user.is_authenticated and request.user == dweet.author %}
          <a class="delete" href="{% url 'dweet_delete' dweet_id=dweet.id %}" onclick="return confirm('Are you sure you want to delete the dweet (cannot be reversed)?')"> Delete dweet </a>
          {% endif %}
          <div class=dweet-changed>
        {% if request.user.is_authenticated %}
            <input  
            class=dweet-button
            type="submit" 
            value="Post as new dweet!" />
            {% else %}
            <p> Please <a href="{% url 'auth_login'  %}" >log in</a> to post as a new dweet (copy-paste code somewhere safe to save it meanwhile) </p>
            {% endif %}
          </div>
        </form>
      </div>
      {% endfor %}

      <a class=next-page href="{{ next_url }}">Next page</a>
    </div>
    {% endblock %}
