{% load staticfiles %}
{% load compress %}

<html>
    <head>
        <title>
            {% if dweet.deleted %}
            Embedded - deleted dweet | Dwitter
            {% else %}
            Embedded -
            {% if dweet.has_sticky_comment %}
              {{ dweet.comments.first.text | truncatechars:40 }}
            {% else %}
            d/{{ dweet.id }}
            {% endif %}
            by {{ dweet.author.username }} | Dwitter
            {% endif %}
        </title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% compress js %}
        <!-- Google Analytics! -->
        <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-76510271-1', 'auto');
ga('send', 'pageview');

        </script>
        {% endcompress %}

        {% load staticfiles %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i" rel="stylesheet">
        {% compress css %}
        <link rel=stylesheet href='{% static "main.css" %}' >
        {% endcompress %}

        {% compress js %}
        <script src="{% static "libs/jquery.min.js" %}"></script>
        <script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
        <script src="{% static "libs/inview.min.js" %}"></script>
        <script src="{% static "libs/infinite.min.js" %}"></script>
        <script src="{% static "libs/moment-with-locales.min.js" %}"></script>
        {% endcompress %}

        {% load staticfiles %}
        {% load compress %}
        {% compress js %}
        <script src="{% static "js/scrolling.js" %}"></script>
        <script src="{% static "js/ajax-handling.js" %}"></script>
        <script src="{% static "js/feed.js" %}"></script>
        <!--<script src="{% static 'js/submit-view.js' %}"></script> -->
        {% endcompress %}

    </head>
    <body class='embed'>

        {% if dweet.deleted %}
          {% include 'snippets/deleted_dweet_card.html' %}
        {% else %}
          {% with comments=dweet.comments.all %}
            {% include 'snippets/dweet_card.html' with embed=True %}
          {% endwith %}
        {% endif %}

    </body>
</html>


