{% extends 'base.html' %}
{% load subdomainurls %}

{% block head %}
{% load staticfiles %}
{% load compress %}
{% load cache %}

{% compress js %}
<script src="{% static "libs/jquery.min.js" %}"></script>
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
<script src="{% static "libs/moment-with-locales.min.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block body_class %}{{sort}}{% endblock %}


{% block header_title %}
  {% if feed_type == "user" %}
    | <a href="{% url 'user_feed' url_username=feed_user %}">
    {{ header_title }}
    </a>
  {% endif %}
{% endblock %}

{% block top-nav %}
<ul class=top-sort-list>
  {%if feed_type == "all" %}
  <li><a class="hot" href="{% url 'hot_feed' %}">hot</a></li>
  <li><a class="new" href="{% url 'new_feed' %}">new</a></li>
  <li><a class="top" href="{% url 'top_feed' %}">top</a></li>
  <li><a class="random" href="{% url 'random_feed' %}">random</a></li>
  <li><a class="about" href="{% url 'about' %}">about</a></li>
  {%elif feed_type == "user" %}
  <li><a class="new" href="{% url 'user_sort_feed' sort='new' url_username=feed_user %}">new</a></li>
  <li><a class="top" href="{% url 'user_sort_feed' sort='top' url_username=feed_user %}">top</a></li>
  <li><a class="awesome" href="{% url 'user_liked' sort='new' url_username=feed_user %}">awesomed</a></li>
  {% endif %}
</ul>
{% endblock %}



{% block fullcontent %}

{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!--<script src="{% static 'js/submit-view.js' %}"></script> -->
{% endcompress %}


<div class=dweet-feed>

  {% if show_submit_box %}
  {% include 'snippets/new_dweet_card.html' %}
  {% endif %}

  {% if dweet_list %}
      {% if request.user.is_authenticated %}
          {% for dweet in dweet_list %}
            {% include 'snippets/dweet_card.html' %}
          {% endfor %}
      {% else %}
          {% for dweet in dweet_list %}
            {% cache 60 dweetcard dweet.pk %}
              {% include 'snippets/dweet_card.html' %}
            {% endcache %}
          {% endfor %}
      {% endif %}

      {% if not on_last_page %}
      <div class="loading">Loading...</div>
      {% endif %}

      {% if on_last_page %}
        <div class="end-of-feed">Congratulations! You've reached the end.</div>
      {% else %}
        <a class=next-page href="{{ next_url }}">Next page</a>
      {% endif %}
  {% else %}
    <div class="content-div">No dweets here!</div>
  {% endif %}

</div>

{% endblock %}
