{% extends 'base.html' %}

{% block head %}
{% load staticfiles %}
{% load compress %}

{% compress js %}
<script src="{% static "libs/jquery.min.js" %}"></script>
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
<script src="{% static "libs/moment-with-locales.min.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block title %}
  {% if dweet.deleted %}
    Deleted dweet - Dwitter
  {% else %}
    {% if dweet.has_sticky_comment %}
      {{ dweet.comments.first.text | truncatechars:40 }}
    {% else %}
      d/{{ dweet.id }}
    {% endif %}
    by {{ dweet.author.username }} | Dwitter
  {% endif %}
{% endblock %}

{% block body_class %}{{sort}}{% endblock %}


{% block header_title %}
{{ header_title }}
{% endblock %}

{% block top-nav %}
<ul class=top-sort-list>
  <li><a class="hot" href="{% url 'hot_feed' %}">hot</a></li>
  <li><a class="new" href="{% url 'new_feed' %}">new</a></li>
  <li><a class="top" href="{% url 'top_feed' %}">top</a></li>
  <li><a class="random" href="{% url 'random_feed' %}">random</a></li>
  <li><a class="about" href="{% url 'about' %}">about</a></li>
</ul>
{% endblock %}

{% block fullcontent %}

{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!--<script src="{% static 'js/submit-view.js' %}"></script> -->
{% endcompress %}

<div class=dweet-feed>

  {% include 'snippets/new_dweet_card.html' %}

  {% if dweet.deleted %}
    {% include 'snippets/deleted_dweet_card.html' %}
  {% else %}
    {% with comments=dweet.comments.all %}
      {% include 'snippets/dweet_card.html' %}
    {% endwith %}

    <div class=card>
    <code id=submit-help>
      u(t) is called 60 times per second.
      t: elapsed time in seconds.
      c: A 1920x1080 canvas.
      x: A 2D context for that canvas.
      S: Math.sin
      C: Math.cos
      T: Math.tan
      R: Generates rgba-strings, ex.: R(255, 255, 255, 0.5)
    </code>
    </div>
  {% endif %}

</div>

{% endblock %}
