{% extends 'base.html' %}
{% load subdomainurls %}

{% block head %}
{% load staticfiles %}
{% load compress %}

{% compress js %}
<script src="{% static "libs/jquery.min.js" %}"></script>
<script src="{% static "libs/jquery.waypoints.min.js" %}"></script>
<script src="{% static "libs/inview.min.js" %}"></script>
<script src="{% static "libs/infinite.min.js" %}"></script>
{% endcompress %}
{% endblock %}

{% block body_class %}{{sort}}{% endblock %}


{% block header_title %} 
{{ header_title }}
{% endblock %}

{% block fullcontent %}

{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static "js/scrolling.js" %}"></script>
<script src="{% static "js/ajax-handling.js" %}"></script>
<script src="{% static "js/feed.js" %}"></script>
<!--<script src="{% static 'js/submit-view.js' %}"></script> -->
{% endcompress %}

<div class=dweet-feed>

  <div class=card>
    <p> <a href="{% url 'user_feed' url_username=dweet.author.username %}">More dweets by {{ dweet.author.username }}</a></p>
    <p> <a href="{% url 'top_feed' %}">All time top dweets</a></p>
  </div>

  {% include 'snippets/dweet_card.html' %}

</div>

{% endblock %}
